<main class="fundo m-0 p-0" id="main" >
    
    <div class="container-fluid ">
        
        <div class="row">
        
        <div class="container d-flex justify-content-center align-items-center mt-4 mb-5" id="container">
            
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right bgcad">
                        <img src="../../assets/img/logo/loginLOGO.png" width="400px" height="auto" class="logo">
                        
                    </div>
                </div>             
            </div>

            <div class="form-container log-in-container">
                <form action="#" >
                    <div class="wrapper">
                        <h3 class="text-center mb-3 mt-5">Entrar</h3>

                        <div class="form-group">
                            
                            
                            <input [(ngModel)]='usuarioLogin.email'  class="form-control" type="email" name="email" id="email" autocomplete="false" required>
                            
                            <div class="underline"></div>
                            <label for="email">Email</label>

                        </div>

                        <div class="form-group">
                            
                            <input [(ngModel)]='usuarioLogin.senha' class="form-control" type="password" name="senha" id="senha" required>
                            <div class="underline"></div>
                            <label for="senha">Senha</label>

                        </div>

                        <div class="d-flex justify-content-center fontpix ">
                            <button type="submit" class="btn btn-success mt-3 mb-2 botaolog" (click)='Entrar()'>Entrar</button>
                        </div>

                        <hr class="mt-4 mb-4">

                        <p class="text-center fontpix">
                            Nao tem uma conta? <br><a routerLink='/cadastrar'>Cadastre-se</a>
                        </p>
                    </div>
                </form>
            
            </div>

        </div>
    </div>
    </div>

</main>