#img-bg{
    background-color: rgb(190, 219, 194);

    min-height: 600px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid{
    background-image: url('../../assets/img/logincadastro/backgroundforest1.jpg');
    min-height: 70vh !important;
}



/*CONTAINER*/

/***** esquerda ******/
.bgcad{
    background-image: url('../../assets/img/logincadastro/bbb.png');
    background-repeat: no-repeat;

}

.bgcad img{
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
    margin-right: 300px;
}


.bgcad:hover img{
  -webkit-transform: scale(1.1);
   transform: scale(1.3);

}

/***** esquerda ******/



* {
	box-sizing: border-box;
}


h3 {
    font-family: anotherday;
    background-image: linear-gradient(rgb(168, 194, 168), rgb(86, 155, 115));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
	margin: 0;
    margin-top: 12px;
    text-align: center;
}

p {
    font-family: adam;
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: rgb(113, 160, 131);
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

a:hover{
    color: rgb(85, 94, 88);
}



form {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

/*FONTES*/

label{
    font-family: adam;
}

/***** direita login ******/

.container {
	background-color: #fff;
	border-radius: 5px 100px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 1000px;
    height: 90vh;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	right: 0px;
	width: 50%;
	z-index: 2;
}

.container .log-in-container{
  width: 350px;
}

/***** direita login ******/

/***** esquerda de novo dscp ******/

.overlay-container {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}


.overlay {
	background: rgb(230, 231, 228);
  background: radial-gradient(rgb(240, 240, 238),  rgb(230, 232, 222),rgb(203, 212, 203));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #fff;
	position: relative;
	right: 100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlay-right {
	right: 0;
}


.social-container {
	margin: 50px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

/***** esquerda de novo dscp ******/


/*INPUTS*/


input{
    font-family: adam;
  border-radius: 0%;
  background-color: transparent;
}

input:enabled{
  background-color: transparent;
}

input::selection{
  background-color: rgb(191, 216, 195);
}

input:focus{
  outline: 0;
  box-shadow: 0 0 0 0;
}

.wrapper{
  width: 350px;
  height: 550px;
  background-color: transparent;
  padding: 30px;
  flex-wrap: wrap;
}

.wrapper .form-group{
  height: 40px;
  width: 100%;
  position: relative;
}
.wrapper .form-group input{
  height: 100%;
  width: 90%;
  border: none;
  font-size: 15px;
  border-bottom: 2px solid #8db39c;
}


.form-group input:focus ~ label,
.form-group input:valid ~ label{
  transform: translateY(-20px);
  font-size: 10px;
  color: #81b194;
  
}
.wrapper .form-group label{
  position: absolute;
  bottom: 0.5px;
  font-size: 13px;
  left: 0;
  color: rgb(154, 163, 155);
  pointer-events: none;
  transition: all 0.3s ease;
}
.form-group .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.form-group input:focus ~ .underline:before,
.form-group input:valid ~ .underline:before{
  transform: scaleX(1);
}


  /*FIM DE INPUTS*/

  

/*BOTOES*/


 .botaolog {
    font-family: adam;
    border: none;
    background: rgb(98, 131, 100);
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 100px;
    color: rgb(181, 221, 188);
    margin-left: -10px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);

 }

    button:hover { 
      transform: translateY(-3px);
      box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    }

    
 /*FIM DE BOTOES*/
