<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center mb-3">Entrar</h1>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" name="email" id="email" placeholder="Digite seu email">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">
                    </div>

                    <div class="d-flex justify-content-center fontpix">
                        <button type="submit" class="btn btn-success" >Entrar</button>
                    </div>

                    <hr class="mt-4 mb-4">

                    <p class="text-center fontpix">
                        Nao tem uma conta? <br><a routerLink='/cadastrar'>Cadastre-se</a>
                    </p>
                </div>

            </div>

        </div>

     <div class="col-md-6" id="img-bg"></div>

    </div>
</div>
