.fundo{
  background-image: url('../../assets/img/logincadastro/backgroundforest1.jpg');
  margin: 0;
  min-height: 969px !important;
  width: auto;
  background-position: center;
}

body, html{
  margin: 0;
  padding: 0;
  background-color: rgb(57, 168, 122);
}




/*CONTAINER*/


.bgcad{
background-image: url('../../assets/img/logincadastro/lalacad.png');


}

.bgcad img{
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}


.bgcad:hover img{
  -webkit-transform: scale(1.1);
   transform: scale(1.3);

}





* {
	box-sizing: border-box;
}


h3 {
  font-family: anotherday;
  background-image: linear-gradient(rgb(168, 194, 168), rgb(86, 155, 115));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
	margin: 0;
  margin-top: 90px !important;
  text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}



form {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}



.container {
  margin-top: 10% !important;
	background-color: #fff;
	border-radius: 100px 5px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 1000px;
  height: 560px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container .log-in-container{
  width: 350px;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 20%;
	width: 100%;
	height: 100%;
}


.overlay {
	background: rgb(230, 231, 228);
	background: radial-gradient(rgb(239, 240, 235),rgb(230, 231, 228),  rgb(203, 212, 203));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #fff;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlay-right {
	right: 0;
}


.social-container {
	margin: 50px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

/*INPUTS*/


input{
  border-radius: 0%;
  background-color: transparent;
}

input:enabled{
  background-color: transparent;
}

input::selection{
  background-color: rgb(191, 216, 195);
}

input:focus{
  outline: 0;
  box-shadow: 0 0 0 0;
}

.wrapper{
  width: 350px;
  height: 550px;
  background: #fff;
  padding: 30px;
  padding-top: 0px;
  flex-wrap: wrap;
}

.wrapper .form-group{
  height: 40px;
  width: 100%;
  position: relative;
}
.wrapper .form-group input{
  font-family: adam;
  height: 100%;
  width: 90%;
  border: none;
  font-size: 15px;
  border-bottom: 2px solid #8db39c;
}


.form-group input:focus ~ label,
.form-group input:valid ~ label{
  transform: translateY(-20px);
  font-size: 10px;
  color: #81b194;
  
}
.wrapper .form-group label{
  font-family: adam;
  position: absolute;
  bottom: 0.5px;
  font-size: 13px;
  left: 0;
  color: rgb(154, 163, 155);
  pointer-events: none;
  transition: all 0.3s ease;
}
.form-group .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.form-group input:focus ~ .underline:before,
.form-group input:valid ~ .underline:before{
  transform: scaleX(1);
}

.cid{
  width: 195px !important;
}


  /*FIM DE INPUTS*/

  /*SELECT*/



  select:focus{
    outline: 0;
    box-shadow: 0 0 0 0;
  }
  
  .wrapper select{
    height: 30px;
    width: 20%;
    position: relative;
    text-transform: capitalize;
    color: rgb(80, 88, 80);
    text-align: left;
    font-size: 16px;
    cursor: pointer;  
  }

  .wrapper .sel select{
    height: 100%;
    width: 27%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid #8db39c;
    left: 140px;
    bottom: 25px;
  }

  option:hover{
    background: rgb(111, 160, 114);
  }


  .wrapper .sel label{
    font-size: 13px;
    text-align: start;
    left: 60px;
    color: rgb(184, 189, 184);
    pointer-events: none;
    transition: all 0.3s ease;
}

  .sel .underline{
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
}

  .sel .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    color: #81b194;
    background: #81b194;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

  .sel select:focus ~ .underline:before,
  .sel select:valid ~ .underline:before{
    transform: scaleX(1);
}

  /*FIM DE SELECT*/

/*BOTOES*/


 .botaocad {
  font-family: adam;
    border: none;
    background: rgb(98, 131, 100);
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    color: rgb(181, 221, 188);
    margin-left: 25px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    

 }

    button:hover { 
      transform: translateY(-3px);
      box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    }

    .botaocanc{  
  
    font-family: adam; 
    border: none;
    background: rgb(223, 43, 43);
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    color: rgb(252, 212, 212);
    margin-left: 25px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    }
 /*FIM DE BOTOES*/
