<div class="container-fluid">

    <div class="row d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center mb-3">Cadastrar</h1>

                    <div class="form-group">
                        <input [(ngModel)]="usuario.nomeCompleto" class="form-control"  autocomplete="off" type="text" name="nome" id="nome"
                            placeholder="Nome Completo">
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]="usuario.cpf" class="form-control" type="text" name="cpf" id="cpf" autocomplete="off"
                            placeholder="CPF">
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]="usuario.email" class="form-control" type="email" name="email" id="email" autocomplete="off" 
                            placeholder="Email">
                    </div>


                    <div class="form-group">
                        <input [(ngModel)]="usuario.senha" class="form-control" type="password" name="senha" id="senha" autocomplete="off"
                            placeholder="Senha">
                    </div>

                    <div class="form-group">
                        <input (input)="confirmSenha($event)" class="form-control" type="password" name="confirmarSenha" autocomplete="off"
                            id="confirmarSenha" placeholder="Confirme sua senha">
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]="usuario.celular" class="form-control" type="text" name="celular" autocomplete="off"
                            id="celular" placeholder="Celular/Telefone">
                    </div>

                    <!--
                    <div class="form-group">
                        <label for="cep">CEP</label>
                        <input [(ngModel)]="usuario.cep" class="form-control" type="text" name="cep" id="cep" placeholder="Digite seu cep">
                    </div>
                    -->
                    
                    <div class="form-group">
                        <input [(ngModel)]="usuario.endereco" class="form-control" type="text" name="endereco" autocomplete="off"
                            id="endereco" placeholder="Endereço">
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]="usuario.cidade" class="form-control" type="text" name="cidade" id="cidade" autocomplete="off"
                            placeholder="Cidade">
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]="usuario.estado" class="form-control" type="text" name="estado" id="estado" autocomplete="off"
                            placeholder="Estado">
                    </div>

                    <div class="d-flex justify-content-center fontpix">
                        <button type="submit" class="btn btn-danger mr-4 botaocanc" routerLink='/entrar'>Cancelar</button>
                        <button type="submit" class="btn btn-success botaocad" (click)="cadastrar()">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" id="img-bg"></div>

    </div>
</div>