<main class="m-0 p-0" id="main">

    <div class="d-flex justify-content-center">


        <div class="container d-flex justify-content-end mt-5 mb-5 fundo pr-0">
            <!--Atualizar Produto-->
            <div class="col-md-5 d-flex justify-content-center mt-5 mb-5">
                <div class="card fundo-card" style="width: 18rem;">
                    <img src="{{produto.foto}}" class="card-img-top img-prod" alt="Imagem do produto">
                    <div class="card-body d-flex flex-column">
                        <div>
                            <h1 style="font-size: large;">{{produto.nomeProduto}}</h1>
                            <h2 style="font-size: small ;" class="text-muted">{{produto.marca}}</h2>
                            <hr>
                            <p class="card-text mt-0 mb-0" style="height: 80px; overflow: auto;">{{produto.descricao}}</p>
                        </div>
                        <div class="">
                            <hr>
                            <h3>R${{produto.preco}}</h3>
                            <p class="text-muted mt-0">{{produto.categoriaMae}} → {{produto.categoriaFilha}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Cadastro De Produto-->
            <div class="col-md-7 wrapper">
                <div class="pl-5">
                    <h3 class="text-center mb-4">Atualizar Produto</h3>
                    <div class="form-group">
                        <input [(ngModel)]='produto.nomeProduto' class="form-control" autocomplete="off" type="text"
                            name="nomeProduto" id="nomeProduto" required>
                        <div class="underline"></div>
                        <label>Nome do Produto</label>
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]='produto.marca' class="form-control" type="text" name="marca" id="marca"
                            autocomplete="off" required>
                        <div class="underline"></div>
                        <label>Marca</label>
                    </div>

                    <div class="sel d-flex flex-column">
                        <div class="underline"></div>
                        <label for="categoriaMae" class="mb-0">Categoria do Produto</label>

                        <select [(ngModel)]='produto.categoriaMae' for="categoriaMae" class="mb-2">
                            <option>Selecione a categoria</option>
                            <option value="Cozinha">Cozinha</option>
                            <option value="Banheiro">Banheiro</option>
                            <option value="Jardim">Jardim</option>
                            <option value="Moda e Beleza">Moda e Beleza</option>
                            <option value="Higiene Pessoal">Higiene Pessoal</option>
                            <option value="Pet">Pet</option>
                        </select>
                    </div>

                    <div class="sel d-flex flex-column">

                        <div class="underline"></div>
                        <label for="categoriaFilha" class="mb-0">Sub-Categoria do Produto</label>
                        <select (click)="identificador()" [(ngModel)]='produto.categoriaFilha' for="categoriaFilha"
                            required>
                            <option>Selecione a Sub-Categoria</option>
                            <option *ngIf="identificador() == 'Cozinha'">----Cozinha----</option>
                            <option *ngIf="identificador() == 'Cozinha'" value="Cozinha Limpeza">Limpeza</option>
                            <option *ngIf="identificador() == 'Cozinha'" value="Lava-Louças">Lava-Louças</option>
                            <option *ngIf="identificador() == 'Cozinha'" value="Utensílios">Utensílios</option>
                            <option *ngIf="identificador() == 'Cozinha'" value="Embalagens">Embalagens</option>
                            <option *ngIf="identificador() == 'Banheiro'">----Banheiro----</option>
                            <option *ngIf="identificador() == 'Banheiro'" value="Banheiro Limpeza">Limpeza</option>
                            <option *ngIf="identificador() == 'Banheiro'" value="Aromatizantes">Aromatizantes</option>
                            <option *ngIf="identificador() == 'Banheiro'" value="Acessórios">Acessórios</option>
                            <option *ngIf="identificador() == 'Banheiro'" value="Toalhas">Toalhas</option>
                            <option *ngIf="identificador() == 'Moda e Beleza'">----Moda e Beleza----</option>
                            <option *ngIf="identificador() == 'Moda e Beleza'" value="Acessórios de Moda">Acessórios de
                                Moda</option>
                            <option *ngIf="identificador() == 'Moda e Beleza'" value="Maquiagens">Maquiagens</option>
                            <option *ngIf="identificador() == 'Moda e Beleza'" value="Roupas">Roupas</option>
                            <option *ngIf="identificador() == 'Moda e Beleza'" value="Cosméticos">Cosméticos</option>
                            <option *ngIf="identificador() == 'Pet'">----Pet----</option>
                            <option *ngIf="identificador() == 'Pet'" value="Roupas e Acessórios para Pets">Roupas e
                                Acessórios para Pets</option>
                            <option *ngIf="identificador() == 'Jardim'">----Jardim---</option>
                            <option *ngIf="identificador() == 'Jardim'" value="Vasos">Vasos</option>
                            <option *ngIf="identificador() == 'Jardim'" value="Kits de Compostagem">Kits de Compostagem
                            </option>
                            <option *ngIf="identificador() == 'Jardim'" value="Jardim Limpeza">Limpeza</option>
                            <option *ngIf="identificador() == 'Higiene Pessoal'">----Higiene Pessoal---</option>
                            <option *ngIf="identificador() == 'Higiene Pessoal'" value="Higiene Pele">Pele</option>
                            <option *ngIf="identificador() == 'Higiene Pessoal'" value="Sabonetes para o Corpo">
                                Sabonetes para o Corpo</option>
                            <option *ngIf="identificador() == 'Higiene Pessoal'" value="Cabelo">Cabelo</option>
                            <option *ngIf="identificador() == 'Higiene Pessoal'" value="Higiene Bucal">Higiene Bucal
                            </option>
                        </select>
                    </div>

                    <div class="form-group mt-3">
                        <input [(ngModel)]='produto.preco' class="form-control" type="text" name="marca" id="marca"
                            autocomplete="off" required>
                        <div class="underline"></div>
                        <label>Preço do Produto</label>
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]='produto.descricao' class="form-control" type="text" name="descricao"
                            id="descricao" autocomplete="off" required>
                        <div class="underline"></div>
                        <label for="descricao">Descrição do Produto</label>
                    </div>

                    <div class="form-group">
                        <input [(ngModel)]='produto.foto' class="form-control" type="text" name="foto" id="foto"
                            autocomplete="off" required>
                        <div class="underline"></div>
                        <label for="descricao">Foto do Produto</label>
                    </div>
                </div>
                <div class="d-flex justify-content-center fontpix mt-5">
                    <button type="submit" class="btn btn-danger mr-4 botaocanc" routerLink='/editar-produto'>Cancelar</button>
                    <button type="submit" class="btn btn-success botaocad"
                        (click)='atualizar()'>Atualizar</button>
                </div>

            </div>

        </div>
    </div>

</main>