<footer class="footer font-small bg-rodape">  
    <div class="row">

      <div class="col-md-12 col-12 d-flex flex-wrap align-items-center justify-content-center bg-rodape">
      <!--<div class="col-md-12 d-flex justify-content-center bg-rodape">
      -->
        <div class="col-md-4 col-lg-4 col-sm-4 col-12 d-flex align-items-center flex-column text-light">
          <h4>Fale Conosco</h4>

          <a href="http://" target="_blank" rel="Contato via whatsapp">
            <img src="../../assets/img/whatsapp.png" class="icone-rodape mt-2 mb-2" alt="ícone do whatsapp">
          </a>

          <a href="mailto:climatika.contato@store.com" class="text-light">climatika.contato@store.com</a>
        </div>


        <div class="col-md-4 col-lg-4 col-sm-4 col-12 d-flex flex-wrap justify-content-center text-light vertical-rule">
          <h4 class="pb-2">Formas de Pagamento</h4>

          <div class="icones d-flex flex-wrap justify-content-center">
            <img src="../../assets/img/294654_visa_icon.png" alt="" srcset="" class="icone-pagamento">
            <img src="../../assets/img/mastercard.png" alt="" srcset="" class="icone-pagamento">
            <img src="../../assets/img/hipercard.png" alt="" srcset="" class="icone-pagamento">
            <img src="../../assets/img/logo-picpay-1024.png" alt="" srcset="" class="icone-pagamento">
            <img src="../../assets/img/PikPng.com_elo-logo-png_3866896.png" alt="" srcset="" class="icone-pagamento">
            <img src="../../assets/img/amex.png" alt="" srcset="" class="icone-pagamento">
            <img src="../../assets/img/barcode-product.png" alt="" srcset="" class="icone-pagamento">
            <img src="../../assets/img/pix.png" alt="" srcset="" class="icone-pagamento">
          
          </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-4 col-12 d-flex align-items-center pl-4 pt-3">
          <ul class="text-light list-unstyled ">
            <li>
              <a href="#" class="text-light ">Envio</a>
            </li>
            <li>
              <a href="#" class="text-light">Cancelamento</a>
            </li>
            <li>
              <a href="#" class="text-light">Trocas</a>
            </li>
            <li>
              Redes Sociais:
              <a href="http://" target="_blank" rel="noopener noreferrer">
                <img src="../../assets/img/instagram-logo.png" alt="" srcset="" class="ml-3 icone-rodape">
              </a>
              <a href="http://" target="_blank" rel="noopener noreferrer">
                <img src="../../assets/img/facebook.png" alt="" srcset="" class="ml-3 icone-rodape">
              </a>
            </li>
          </ul>

        </div>
              
      </div>

        <div class="col-md-12 col-xl-12 col-sm-12 col-12 d-flex justify-content-center bg-rodape p-3 text-light font-weight-bold">
          copyright Climatika
        </div>
    </div>


</footer>
 
