<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 m-0 p-0">
            <div class="row">
                <div class="col-md-11 m-auto d-flex">
        
                    <div class="row justify-content-around">
                        <div class="col-md-6">
                                <img src="https://krzstgblob.blob.core.windows.net/5ff4e85e672df8b22c1de26c/skus/dfca23bc68df4f2e8dbb170dab0e4caa.jpg" class="foto-produto" alt="">
                            </div>
        
                            <div class="col-md-4 p-0">
                                <div class="card-body">
                                    <h4 class="nome-produto pb-3">Nome do Produto</h4>
                                    <h5 class="marca-produto pb-3">Nome da Marca</h5>
                                    <h5 class="preco-produto pb-2">R$7.99</h5>
                                    <hr>
                                    <div class="buttons">
                                        <button class="btn btn-success">Adicionar ao Carrinho</button>
                                    </div>
                                
                                    <div class="descricao mt-3">
                                        <p>
                                            O produto é muito lindo, muito bacana e não agride o
                                            meio ambiente.<br>Então faz a boa e compra logo! Vai!
                                        </p>
                                        <p>
                                            Produzido por: Positiva
                                        </p>

                                        
                                    </div>
                                </div>
                            </div>
                        
                    </div>
        
        
        
                </div>
        </div>
    </div>
</div>