<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 m-0 p-0">
            <div class="row">
                <div class="col-md-11 m-auto d-flex">
        
                    <div class="row justify-content-around">
                        <div class="col-md-6">
                                <img src="{{produto.foto}}" class="foto-produto" alt="">
                            </div>
        
                            <div class="col-md-4 p-0">
                                <div class="card-body">
                                    <h4 class="nome-produto pb-3">{{produto.nomeProduto}}</h4>
                                    <h5 class="marca-produto pb-3">Marca: {{produto.marca}}</h5>
                                    <h5 class="preco-produto pb-2">Preço: R${{produto.preco}}</h5>
                                    <hr>
                                    <div class="buttons">
                                        <button class="btn btn-success">Adicionar ao Carrinho</button>
                                    </div>
                                
                                    <div class="descricao mt-3">
                                        <p>
                                            {{produto.descricao}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
        
        
        
                </div>
        </div>
    </div>
</div>