a {
    color:aliceblue !important;
}



a:hover {
    cursor: pointer;
}

.dropitem:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#logo{
    width: 140px;
    height: auto;
}

.text-gold {
    color: #5D7963;
    font-weight: 500;
    font-size: 20px;
}

.text-g:hover{
   opacity: 0.5;
}

.text-gold a:hover{    
    outline-style: none;
    text-decoration: none;
}

.bg-menu {
    background-color: #798e77;
}

.pesquisa {
    width: 300px;
    border-radius: 10px;
}

.icone-pesquisa {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    margin-left: -43px;
    margin-top: -10px;
}

input{
    background-color: rgb(197, 204, 191);
    border: none;
    border-radius: 50px !important; 
}

input:enabled{
    background-color: rgb(197, 204, 191);
    box-shadow: #5D7963 !important;
}


.hr-menu {
    border-top: 1px solid white;
    margin: 2px 15px 2px 15px;
}

.bg-verde {
    background: #42594A;
}

.btn-login {
    background-color: aliceblue;
    color:#42594A;
}

.btn-login:hover {
    background-color: #b0c68d;
    color: aliceblue;
    border: 1px #42594A solid;
}

.btn-verde {
    background: #42594A;
}

.btn-adm {
    background: #42594A;
}
.btn-adm:hover{
    background-color: rgba(255, 201, 51, 0.719);
}

.btn-verde:hover {
    background-color: #b0c68d;
    border: 1px #42594A solid;
}

