<nav class="navbar navbar-expand-lg navbar-light bg-menu flex-column">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Climatika</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-gold">

                <li class="nav-link" href="#">
                    <a href="http://" class="text-gold" target="_blank" rel="noopener noreferrer">Ajude o Planeta</a>
                </li>
                <li class="nav-link" href="#">
                    <a href="http://" class="text-gold" target="_blank" rel="noopener noreferrer">Nossos Parceiros</a>
                </li>
                <li class="nav-link" href="#">
                    <a href="http://" class="text-gold" rel="noopener noreferrer">Sobre</a>
                </li>

            </ul>
            
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 pesquisa" type="search" placeholder="Pesquise o seu produto"
                    aria-label="Search">

                <a class="" type="submit">
                    <img src="../../assets/img/pesquisar.png" class="icone-pesquisa" alt="" srcset="">
                </a>
            </form>

        </div>
    </div>
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Todas as Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="#">Cozinha<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="#">Banheiro<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="#">Jardim<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="#">Moda e Beleza<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="#">Pet<span class="sr-only">(current)</span></a>
            </li>            
        </ul>
        <form class="form-inline my-2 my-lg-0 justify-content-end">
            <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">
                <img src="../../assets/img/cesto-branco.png" alt="carrinho de compras">
            </button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
        
    </div>
