<nav class="navbar navbar-expand-lg navbar-light bg-menu flex-column">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/inicio"><img id="logo" src="../../assets/img/logo/menulogo.png"
                alt="home"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-gold">

                <li class="nav-link" href="#">
                    <a routerLink='/ajude' class="text-g" rel="noopener noreferrer">Ajude o Planeta</a>
                </li>
                <li class="nav-link" href="#">
                    <a routerLink='/nossos-parceiros' class="text-g" rel="noopener noreferrer">Nossos
                        Parceiros</a>
                </li>
                <li class="nav-link" href="#">
                    <a routerLink='/sobre' class="text-g" rel="noopener noreferrer">Sobre</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input type="text" class="form-control mr-sm-2 pesquisa"  placeholder="Pesquise pelo nome do produto"  [(ngModel)]="auth.valor" [ngModelOptions]="{standalone: true}" (keyup)="auth.findByNomeProduto()" >

                <a class="" type="submit">
                    <img src="../../assets/img/icones/pesquisar.png" class="icone-pesquisa" alt="" srcset="">
                </a>
            </form>

        </div>
    </div>
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto">
            <button [routerLink]="['/inicio']" routerLinkActive="router-link-active"  (click)="auth.getAllProdutos()"  class="btn dropitem" type="button" aria-haspopup="true" aria-expanded="false">
            Todos Produtos
            </button>
            <div class="dropdown">
                <button class="btn dropdown-toggle dropitem" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Cozinha
                </button>
                <div class="dropdown-menu bg-verde" aria-labelledby="dropdownMenuButton">
                    <a (click)="auth.findByCategoriaMae('cozinha')"  routerLinkActive="router-link-active"  class="dropdown-item bg-verde btn-outline-info dropitem" >Cozinha</a>
                    <hr class="mt-1 mb-1"> 
                    <a (click)="auth.findByCategoriaFilha('embalagens')" value="Embalagens"  class="dropdown-item bg-verde dropitem" >Embalagens</a>
                    <a (click)="auth.findByCategoriaFilha('lava-louças')"  value="Lava-Louças" class="dropdown-item bg-verde dropitem" >Lava-Louças</a>
                    <a (click)="auth.findByCategoriaFilha('cozinha limpeza')"  value="Limpeza" class="dropdown-item bg-verde btn-outline-info dropitem" >Limpeza</a>
                    <a (click)="auth.findByCategoriaFilha('utensílios')"  value="Utensílios" class="dropdown-item bg-verde dropitem" >Utensílios</a>

                    
                </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle dropitem" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Banheiro
                </button>
                <div class="dropdown-menu bg-verde" aria-labelledby="dropdownMenuButton">
                    <a (click)="auth.findByCategoriaMae('banheiro')" class="dropdown-item bg-verde dropitem">Banheiro</a>
                    <hr class="mt-1 mb-1">
                    <a (click)="auth.findByCategoriaFilha('acessórios')" class="dropdown-item bg-verde dropitem">Acessórios</a>
                    <a (click)="auth.findByCategoriaFilha('aromatizantes')" class="dropdown-item bg-verde dropitem">Aromatizantes</a>
                    <a (click)="auth.findByCategoriaFilha('banheiro limpeza')" class="dropdown-item bg-verde dropitem">Limpeza</a>
                    <a (click)="auth.findByCategoriaFilha('toalhas')" class="dropdown-item bg-verde dropitem">Toalhas</a>

                    
                </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle dropitem" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Moda e Beleza
                </button>
                <div class="dropdown-menu bg-verde" aria-labelledby="dropdownMenuButton">
                    <a (click)="auth.findByCategoriaMae('moda e beleza')" class="dropdown-item bg-verde dropitem">Moda e Beleza</a>
                    <hr class="mt-1 mb-1">
                    <a (click)="auth.findByCategoriaFilha('acessórios de moda')" class="dropdown-item bg-verde dropitem">Acessórios de Moda</a>
                    <a (click)="auth.findByCategoriaFilha('cosméticos')" class="dropdown-item bg-verde dropitem">Cosméticos</a>
                    <a (click)="auth.findByCategoriaFilha('maquiagens')" class="dropdown-item bg-verde dropitem">Maquiagens</a>
                    <a (click)="auth.findByCategoriaFilha('roupas')" class="dropdown-item bg-verde dropitem">Roupas</a>
                    
                    
                </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle dropitem" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Higiene Pessoal
                </button>
                <div class="dropdown-menu bg-verde" aria-labelledby="dropdownMenuButton">
                    <a (click)="auth.findByCategoriaMae('higiene pessoal')" class="dropdown-item bg-verde dropitem">Higiene Pessoal</a>
                    <hr class="mt-1 mb-1">
                    <a (click)="auth.findByCategoriaFilha('cabelo')" class="dropdown-item bg-verde dropitem">Cabelo</a>
                    <a (click)="auth.findByCategoriaFilha('higiene bucal')" class="dropdown-item bg-verde dropitem">Higiene Bucal</a>
                    <a (click)="auth.findByCategoriaFilha('higiene pele')" class="dropdown-item bg-verde dropitem">Pele</a>
                    <a (click)="auth.findByCategoriaFilha('sabonetes para o corpo')" class="dropdown-item bg-verde dropitem">Sabonetes Para o Corpo</a>
                                       
                </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle dropitem" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Pet
                </button>
                <div class="dropdown-menu bg-verde" aria-labelledby="dropdownMenuButton">
                    <a (click)="auth.findByCategoriaMae('pet')" class="dropdown-item bg-verde dropitem">Pet</a>
                    <hr class="mt-1 mb-1">
                    <a (click)="auth.findByCategoriaFilha('roupas e acessórios para pets')" class="dropdown-item bg-verde dropitem">Roupas e Acessórios para Pets</a>
                    
                </div>
            </div>

            <div class="dropdown">
                <button class="btn dropdown-toggle dropitem" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Jardim
                </button>
                <div class="dropdown-menu bg-verde" aria-labelledby="dropdownMenuButton">
                    <a (click)="auth.findByCategoriaMae('jardim')" class="dropdown-item bg-verde dropitem">Jardim</a>
                    <hr class="mt-1 mb-1">
                    <a (click)="auth.findByCategoriaFilha('kits de compostagem')" class="dropdown-item bg-verde dropitem">Kits de Compostagem</a>
                    <a (click)="auth.findByCategoriaFilha('jardim limpeza')" class="dropdown-item bg-verde dropitem">Limpeza</a>
                    <a (click)="auth.findByCategoriaFilha('vasos')" class="dropdown-item bg-verde dropitem">Vasos</a>
                    
                    
                </div>
            </div>

        </ul>
        <span class="align-items-center text-light mr-3" *ngIf="auth.logado()">Olá, {{auth.nomeUsuario()}}!</span>
        <form class="form-inline my-2 my-lg-0 justify-content-end">
            <button *ngIf="auth.logado()" class="btn btn-verde my-2 my-sm-0 mr-2"
                 [routerLink]="['/carrinho']" type="submit">
                <img src="../../assets/img/icones/cesto-branco.png" width="25px" height="auto"
                    alt="carrinho de compras">
            </button>
            <button *ngIf="auth.logado() == false" class="btn btn-login my-2 my-sm-0" type="submit"
                routerLink='/entrar'>Login</button>
            <!--<button class="btn btn-secondary" (click)="console()">Aqui</button>-->
        </form>

        <!-- Botão Usuário -->
        <div *ngIf="auth.logado()" class="btn-group dropleft">
            <button type="button" class="btn btn-verde ml-2 rounded" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img src="../../assets/img/icones/user.png" alt="">
            </button>
            <div class="dropdown-menu bg-verde">
                <!-- Dropdown menu links -->
                <a class="dropdown-item btn-verde" data-toggle="tooltip" data-placement="left" title="Em breve..."><s>Meus Pedidos</s></a>
                <a class="dropdown-item btn-verde" data-toggle="tooltip" data-placement="left" title="Em breve..."><s>Meus Favoritos</s></a>
                <a class="dropdown-item btn-verde" routerLink='/atualizar-cadastro'>Editar Cadastro</a>
                <div *ngIf="auth.logadoAdmin()">
                    <hr class="hr-menu">
                    <p class="text-center mb-0 text-warning">Funções Admin</p>
                    <hr class="hr-menu ">                    
                    <a class="dropdown-item btn-adm" routerLink='/cadastrar-produto'>Cadastrar Produto</a>
                    <a class="dropdown-item btn-adm" routerLink='/editar-produto'>Editar Produto</a>
                </div>
                <hr class="hr-menu">
                <a class="dropdown-item btn-verde" (click)="sair()">Sair</a>
            </div>
        </div>
        
        <!-- Botão Admin 
        <div *ngIf="auth.logadoAdmin()" class="btn-group dropleft">
            <button type="button" class="btn btn-danger ml-2 rounded" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img src="../../assets/img/icones/user.png" alt="">
            </button>
            <div class="dropdown-menu bg-verde">

                <a class="dropdown-item btn-verde" routerLink='/cadastrar-produto'>Cadastrar Produto</a>
                <a class="dropdown-item btn-verde" routerLink='/editar-produto'>Editar Produto</a>
                <hr class="hr-menu">
                <a class="dropdown-item btn-verde" href="#">Sair</a>
            </div>
        </div>
        -->
    </div>
</nav>
