.fontnavbar{
    font-family: comfortaa;
    text-transform: uppercase;
    font-size: 12px;
}

.fontproduto{
    font-family: comfortaa;
    font-size: 13px !important;
}

.fontproduto:hover{
    background-color: rgb(197, 211, 203);
    color: #445d4f !important;
}

a {
    color:rgb(197, 211, 203) !important;
}

.bg-subcatg{
    background-color: #798e77;
}

a:hover {
    cursor: pointer;
}


#logo{
    width: 140px;
    height: auto;
}

.text-gold {
    color: #5D7963;
    font-weight: 500;
    font-size: 20px;
}

.text-g:hover{
   opacity: 0.5;
}

.text-gold a:hover{    
    outline-style: none;
    text-decoration: none;
}

.bg-menu {
    background-color: #798e77;
}

/* MENU */

.dropdown-menu{
  max-height: 300px;
  overflow: auto;
}

.lojadrop{
    margin-top: 8px !important;
    margin-left: 5px !important;
}

.lojadrop:hover{
    color: #5D7963;
}

/* FIM DE MENU */

/* INPUT */

.pesquisa {
    font-family: comfortaa;
    font-size: 12px;
    width: 300px;
    border-radius: 10px;
}

.icone-pesquisa {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    margin-left: -43px;
    margin-top: -10px;
}

input{
    background-color: rgb(197, 204, 191);
    border: none;
    border-radius: 50px !important; 
}

input:enabled{
    background-color: rgb(197, 204, 191);
    box-shadow: #5D7963 !important;
}

/* FIM DE INPUT */


.hr-menu {
    border-top: 1px solid white;
    margin: 2px 15px 2px 15px;
}

.bg-verde {
    background: #42594A;
}

.ola{
    font-family: comfortaa;
    font-size: 13px;
}


/* BOTOES */

.btn-login {
    font-family: adam;
    font-size: 13px;
    background-color:#798e77;
    color:#c9cfcb;
}

.btn-login:hover {
    background-color: #576956;
    color: rgb(216, 224, 219);
}

.iconemenu{
    background-color:#798e77;
}

.iconemenu:hover{
    background-color:#42594a;
}

.btn-verde {
    background-color:#42594a;
}

.btn-adm {
    background-color:#42594a;
}
.btn-adm:hover{
    background-color: rgba(141, 222, 109, 0.719);
}

.btn-verde:hover {
    background-color: #576956;
}

/*Scroll Bar*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #b8c8bb;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }
