<main class="m-0 p-0" id="main">

    <div class="container-fluid d-flex justify-content-center">



        <div class="container d-flex justify-content-center align-items-center mt-3  fundo" id="container">

            <div class="form-container log-in-container d-flex justify-content-center">
                
                    <div class="col-md-6">                                 

                        <div class="wrapper">
                            <h3 class="text-center mb-4">Atualizar cadastro</h3>
                            <div class="form-group">
                                <input [(ngModel)]='usuario.nomeCompleto' class="form-control" autocomplete="off" type="text" name="nome" id="nome"
                                    required>
                                <div class="underline"></div>
                                <label>nome</label>
                            </div>

                            <div class="form-group">
                                <input [(ngModel)]='usuario.email' class="form-control" type="email" name="email" id="email" autocomplete="off"
                                    required>
                                <div class="underline"></div>
                                <label>email</label>
                            </div>


                            <div class="form-group">
                                <input [(ngModel)]='usuario.senha' class="form-control" type="password" name="senha" id="senha" autocomplete="off"
                                    required>
                                <div class="underline"></div>
                                <label>senha</label>
                            </div>

                            <div class="form-group">
                                <input (input)="confirmSenha($event)"  class="form-control" type="password" name="confirmarSenha" autocomplete="off"
                                    id="confirmarSenha" required>
                                <div class="underline"></div>
                                <label>confirme sua senha</label>
                            </div>

                            <div class="form-group">
                                <input [(ngModel)]='usuario.celular' class="form-control" type="text" name="celular" autocomplete="off" id="celular"
                                    required>
                                <div class="underline"></div>
                                <label>celular</label>
                            </div>

                            <div class="form-group">
                                <input [(ngModel)]='usuario.endereco' class="form-control" type="text" name="endereco" autocomplete="off" id="endereco"
                                    required>
                                <div class="underline"></div>
                                <label>endereço</label>
                            </div>

                            <div class="d-flex flex-row">
                                <div class="form-group" style="width: 100%;">
                                    <input [(ngModel)]='usuario.cidade' class="" type="text" name="cidade" id="cidade" autocomplete="off" required>
                                    <div class="underline"></div>
                                    <label>cidade</label>
                                </div>


                                <div class="sel" style="width: 100%;">
                                    <div class="underline"></div>

                                    <select [(ngModel)]='usuario.estado' name="estado" id="estado" required>
                                        <option value=""></option>
                                        <option value="AC">AC</option>
                                        <option value="AL">AL</option>
                                        <option value="AP">AP</option>
                                        <option value="AM">AM</option>
                                        <option value="BA">BA</option>
                                        <option value="CE">CE</option>
                                        <option value="DF">DF</option>
                                        <option value="ES">ES</option>
                                        <option value="GO">GO</option>
                                        <option value="MA">MA</option>
                                        <option value="MT">MT</option>
                                        <option value="MS">MS</option>
                                        <option value="MG">MG</option>
                                        <option value="PA">PA</option>
                                        <option value="PB">PB</option>
                                        <option value="PR">PR</option>
                                        <option value="PE">PE</option>
                                        <option value="PI">PI</option>
                                        <option value="RJ">RJ</option>
                                        <option value="RN">RN</option>
                                        <option value="RS">RS</option>
                                        <option value="RO">RO</option>
                                        <option value="RR">RR</option>
                                        <option value="SC">SC</option>
                                        <option value="SP">SP</option>
                                        <option value="SE">SE</option>
                                        <option value="TO">TO</option>
                                    </select>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center fontpix mt-4 mr-3">
                                <button type="submit" class="btn btn-danger mr-4 botaocanc"
                                    routerLink='/entrar'>Cancelar</button>
                                <button type="submit" class="btn btn-success botaocad" (click)="atualizarUser()">Atualizar</button>
                            </div>
                        </div>
                    </div>
                

            </div>

        </div>
    </div>

</main>