<div class="col-md-12 d-flex justify-content-center">
    <div class="d-flex justify-content-center flex-column">
        <h5 class="text-center m-2 mt-5 titulo">NOSSOS PARCEIROS</h5>
        <hr class="m-5">
        <div class="d-flex flex-row ">
            <div class="rounded-circle devteam m-2"
                style="background-image: url('https://cdn.discordapp.com/attachments/867051597850869770/897847586336153640/Logotipo_ecous.jpg');">
                <div class="rounded-circle devteam-info flex-column" width="100%">
                    <p class="text-white nomeparc">EcoUs</p>
                    <div class="d-flex row">
                        <p class="descricao">Acreditamos que outro viver é possível. Num viver sustentável. Num mundo
                            onde o dar e receber sejam recíprocos. Acreditamos em cuidar de nós e de tudo à nossa volta.
                            Acreditamos na união entre a natureza e os seres humanos.</p>
                    </div>
                </div>
            </div>


            <div class="rounded-circle devteam m-2" style="background-image: url('https://i.imgur.com/Gpxs7f4.png');">
                <div class="rounded-circle devteam-info flex-column" width="100%">
                    <p class="text-white nomeparc">EcoBook</p>
                    <div class="d-flex row ">
                        <p class="descricao">A eco.Book acredita que um dos caminhos para o desenvolvimento sustentável
                            é a educação. Incentivamos a leitura com consumo consciente: adquirir conhecimentos com o
                            mínimo possível de impacto na natureza.</p>
                    </div>
                </div>
            </div>

            <div class="rounded-circle devteam m-2" style="background-image: url('https://i.imgur.com/F8Pv5pL.png');">
                <div class="rounded-circle devteam-info flex-column" width="100%">
                    <p class="text-white nomeparc">Gaia Ecommerce</p>
                    <div class="d-flex row">
                        <p class="descricao">
                            Um projeto de e-commerce com a ideia de trazer a dinâmica da ecologia para o cliente, e
                            também oferecer créditos bônus para compras com nossos parceiros.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="d-flex flex-row">
            <div class="rounded-circle devteam m-2"
                style="background-image: url('https://media.discordapp.net/attachments/867051597850869770/897840570595180604/Design_sem_nome.png?width=460&height=460');">
                <div class="rounded-circle devteam-info flex-column" width="100%">
                    <p class="text-white nomeparc">Action For Life</p>
                    <div class="d-flex row">
                        <p class="descricao">
                            Nossos produtos são naturais ou de materiais recicláveis. Nossas iniciativas foram criadas
                            para combater as mudanças climáticas e consequentemente reduzir a desigualdade dentro dos
                            países e entre eles para alcançar e sustentar o crescimento da renda da
                            população mais pobre do Brasil.
                        </p>

                    </div>

                </div>
            </div>

            <div class="rounded-circle devteam m-2" style="background-image: url('https://i.imgur.com/XV9UnGv.jpg');">
                <div class="rounded-circle devteam-info flex-column" width="100%">
                    <p class="text-white nomeparc">BAEPENDI</p>
                    <div class="d-flex row ">
                        <p class="descricao">O que queres?</p>
                    </div>

                </div>
            </div>

            <div class="rounded-circle devteam m-2" style="background-image: url('https://i.imgur.com/QA7fnpj.jpg');">
                <div class="rounded-circle devteam-info flex-column" width="100%">

                    <p class="text-white nomeparc">Mercado <br> Sem Lixo</p>
                    <div class="d-flex row ">

                        <p class="descricao">
                            Somos um espaço colaborativo criado para promover um estilo de vida comprometido com a
                            redução dos resíduos e uma relação mais sustentável de consumo, começando pela sua casa,
                            para o bem da nossa Casa Maior.
                        </p>

                    </div>
                </div>
            </div>

        </div>

        <hr class="m-5">

        <h5 class="text-center m-2 mt-3 titulo">seja nosso parceiro</h5>
        <h5 class="subtitulo text-center mb-5">entre em contato conosco e faça parte desta rede de consumo consciente!
        </h5>

        <form>
            <div class="form-group">
                <input class="form-control form-control-sm mb-1" type="text" placeholder="nome">
                <input class="form-control form-control-sm mb-1" type="email" placeholder="email">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="mensagem"></textarea>
                <div class="d-flex justify-content-center align-items-center"><button type="submit"
                        class="btn btn-success botao mt-3 mb-5" data-target="#staticBackdrop" data-toggle="modal">enviar</button></div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Cadastro realizado com sucesso!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Obrigado pelo seu interesse em ser nosso parceiro! Entraremos em contato em breve!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>