<div class="container-fluid bg-geral">
    <div class="row  ml-2">
        <div class="col-md-12">
            <h1>Nossos Parceiros</h1>

            <div class="col-md-8">

                <div class="card-body">
                    <h5 class="card-title d-block">Ecous</h5>
                    <div class="d-flex">
                        <img style="max-width: 250px; max-height: 250px;"
                            src="https://cdn.discordapp.com/attachments/867051597850869770/897847586336153640/Logotipo_ecous.jpg"
                            alt="">
                        <p class="card-text ml-2 ">Acreditamos que outro viver é possível. Num viver sustentável. Num
                            mundo onde o dar e receber sejam recíprocos. Acreditamos em cuidar de nós e de tudo à nossa
                            volta. Acreditamos na união entre a natureza e os seres humanos.</p>
                    </div>

                </div>
            </div>

            <div class="col-md-8">

                <div class="card-body">
                    <h5 class="card-title d-block">EcoBook</h5>
                    <div class="d-flex">
                        <img style="max-width: 250px; max-height: 250px;"
                            src="https://cdn.discordapp.com/attachments/867051597850869770/897937590630621184/logo-fundo-verde.png"
                            alt="">
                        <p class="card-text ml-2 ">A eco.Book acredita que um dos caminhos para o desenvolvimento
                            sustentável é a educação. Incentivamos a leitura com consumo consciente: adquirir
                            conhecimentos com o mínimo possível de impacto na natureza.
                            .</p>
                    </div>

                </div>
            </div>

            <div class="col-md-8">

                <div class="card-body">
                    <h5 class="card-title d-block">Gaia Ecommerce</h5>
                    <div class="d-flex">
                        <img style="max-width: 250px; max-height: 250px;"
                            src="https://cdn.discordapp.com/attachments/867051597850869770/897882464180129802/Logo_GAIA.png"
                            alt="">
                        <p class="card-text ml-2 ">Um projeto de e-commerce com a ideia de trazer a dinâmica da ecologia
                            para o cliente, e também oferecer créditos bônus para compras com nossos parceiros..</p>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title d-block">NatuLix</h5>
                        <div class="d-flex">
                            <img style="max-width: 250px; max-height: 250px;"
                                src="https://img.freepik.com/fotos-gratis/quadro-de-produtos-ecologicos_23-2148576638.jpg?size=626&ext=jpg"
                                alt="">
                            <p class="card-text ml-2 ">A NatuLix é uma empresa ecologica de produtos artesanais. Nascida
                                na
                                Cidade Ademar, zona Sul de São Paulo.Climatika</p>
                        </div>

                    </div>
                </div>
            

                <div class="col-md-8">

                    <div class="card-body">
                        <h5 class="card-title d-block">Positiva</h5>
                        <div class="d-flex">
                            <img style="max-width: 250px; max-height: 250px;"
                                src="https://krzstgblob.blob.core.windows.net/5ff4e85e672df8b22c1de26c/images/positiva_logo.svg"
                                alt="">
                            <p class="card-text ml-2 ">Somos uma empresa B,
                                ecologicamente e socialmente responsável,
                                que cria produtos e soluções para cuidar
                                da sua casa, do seu corpo e do nosso planeta.</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-8">

                    <div class="card-body">
                        <h5 class="card-title d-block">Mercado sem Lixo</h5>
                        <div class="d-flex">
                            <img style="max-width: 250px; max-height: 250px;"
                                src="https://www.mercadosemlixo.com.br/wp-content/uploads/2021/02/MSL_logo_vert.svg"
                                alt="">
                            <p class="card-text ml-2 ">O Mercado Sem Lixo é feito de marcas engajadas, atentas ao seu
                                impacto que trabalham de forma colaborativa contribuindo neste movimento por um consumo
                                mais sustentável e consciente.</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 m-5">
                    <div class="d-flex row wrap flex-column">
                        <h3>Seja Nosso Parceiro</h3>

                        <p>
                            Estamos em busca de novos parceiros!<br>
                            Entre em contato conosco e faça parte desta rede de consumo consciente!
                        </p>


                        <label for="">Nome:</label>
                        <input type="text">
                        <label for="">E-mail:</label>
                        <input type="text">
                        <label for="">Telefone:</label>
                        <input type="text">
                        <label for="">Mensagem:</label>
                        <textarea type="text"></textarea>
                    </div>
                </div>





            </div>
        </div>





    </div>