.img-config{
    width: 180px; 
    height: 190px;
    object-fit: contain;
}

.descri {
    max-height: 100px;
    overflow: auto;
    text-overflow: ellipsis;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(90, 90, 90);
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }