.img-config {
    width: 180px;
    height: 190px;
    object-fit: cover;
}

.card-title {
    font-family: comfortaa;
    font-size: 15px;
}

.descri {
    font-family: comfortaa;
    font-size: 10px;
    max-height: 29px;
    overflow: auto;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.marca,
.categoria {
    font-family: comfortaa;
    font-size: 10px;
    margin: 0%;
}

.preco {
    font-family: comfortaa;
    font-size: 12px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(139, 150, 138);
}

 ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

.card-body {
    height: 130px !important;
}

.corpo {
    border-radius: 30px !important;
}


/*BOTAO*/

.editar {
    font-family: adam;
    width: 80px;
    color: rgb(188, 211, 187);
    background-color: rgb(120, 145, 120);
    transition: transform 0.5s;
}

.editar:hover {
    background-color: rgb(120, 145, 120);
    transform: scale(0.8);
}

.apagar {
    font-family: adam;
    width: 80px;
    color: rgb(241, 194, 194);
    background-color: rgb(241, 113, 113);
    transition: transform 0.5s;
}

.apagar:hover {
    background-color: rgb(241, 113, 113);
    transform: scale(0.8);
}