<div class="container d-flex justify-content-center">

    <div class="row m-3 p-3 layoutCarrinho border border-secondary">
        <div class="col-md-12">

            <div class="card mb-3" style="max-width: 540px;" *ngFor="let item of auth.listaProduto">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{item.foto}}" class="card-img img-config" alt="...">
                    </div>

                    <div class="col-md-6 corpo">
                        <div class="card-body">
                            <h5 class="card-title">{{item.nomeProduto}}</h5>
                            <p class="card-text descri">{{item.descricao}}</p>
                            <p class="card-text marca">{{item.marca}}</p>
                            <p class="card-text"><small class="text-muted categoria">{{item.categoriaMae}} - {{item.categoriaFilha}}</small></p>
                            <p class="card-text"><small class="text-muted categoria"></small></p>
                            <p class="card-text"><small class="text-muted preco">R${{item.preco}}</small></p>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex flex-column justify-content-center">
                        <div class="">
                            <a [routerLink]="['/atualizando-produto', item.codigo]" routerLinkActive="router-link-active"><button class="btn editar">Editar</button></a>
                            <a [routerLink]="['/deletando-produto', item.codigo]" routerLinkActive="router-link-active"><button class="btn mt-3 apagar">Deletar</button></a>
                        </div>
                    </div>
                </div>
            </div>






        </div>


    </div>




</div>