<div class="container-fluid">
    <div class="row bg-cinza pb-4 pt-4 d-flex justify-content-center">

        <div class="row col-md-12 justify-content-center pr-md-5 pl-md-5 d-flex">
        <div class="card mr-3 mb-3" style="max-width: 15rem; max-height: 412px;">
            <div class="card-body">
                <img src="../../assets/img/produtos/bandana.JPG" alt="" class="miniatura">
                <h5 class="card-title mb-1">Bandana Regulável</h5>
                <a src="#" class="marca">Petlix</a>
            
                <div class="d-flex justify-content-end bg-transparent preco">R$8.99</div>
            </div>
        </div>

        <div class="card mr-3 mb-3" style="max-width: 15rem; max-height: 412px;">
            <div class="card-body">
                <img src="../../assets/img/produtos/compostagem.JPG" alt="" class="miniatura">
                <h5 class="card-title overflow-hidden mb-1 d-flex style='max-width: 70%;'">Kit Compostagem Caseira</h5>
                <a src="#" class="marca">Compostashi</a>
            
                <div class="d-flex justify-content-end bg-transparent preco">R$8.99</div>
            </div>
        </div>

        <div class="card mr-3 mb-3" style="max-width: 15rem; max-height: 412px;">
            <div class="card-body" >
                <img src="../../assets/img/produtos/condicionador.JPG" alt="" class="miniatura">
                <h5 class="card-title mb-1 d-block overflow-hidden">Condicionador Infantil</h5>
                <a src="#" class="marca">EcoCare</a>
            
                <div class="d-flex justify-content-end bg-transparent preco">R$8.99</div>
            </div>
        </div>

        <div class="card mr-3 mb-3" style="max-width: 15rem; max-height: 412px;">
            <div class="card-body">
                <img src="../../assets/img/produtos/limpa_lingua.JPG" alt="" class="miniatura">
                <h5 class="card-title mb-1">Limpador de Lingua</h5>
                <a src="#" class="marca">EcoCare</a>
            
                <div class="d-flex justify-content-end bg-transparent preco">R$8.99</div>
            </div>
        </div>

        <div class="card mr-3 mb-3" style="max-width: 15rem; max-height: 412px;">
            <div class="card-body">
                <img src="../../assets/img/produtos/luminaria.JPG" alt="" class="miniatura">
                <h5 class="card-title mb-1">Luminária Freijó</h5>
                <a src="#" class="marca">Tech</a>
            
                <div class="d-flex justify-content-end bg-transparent preco">R$8.99</div>
            </div>
        </div>

        <div class="card mr-3 mb-3" style="max-width: 15rem; max-height: 412px;">
            <div class="card-body">
                <img src="../../assets/img/produtos/protetor.JPG" alt="" class="miniatura">
                <h5 class="card-title mb-1">Absorvente Ecológico</h5>
                <a src="#" class="marca">EcoCare</a>
            
                <div class="d-flex justify-content-end bg-transparent preco">R$8.99</div>
            </div>
        </div>
        <div class="card mr-3 mb-3" style="max-width: 15rem; max-height: 412px;">
            <div class="card-body">
                <img src="../../assets/img/produtos/sabao.JPG" alt="" class="miniatura">
                <h5 class="card-title mb-1">Sabão de Coco</h5>
                <a src="#" class="marca">Positiva</a>
            
                <div class="d-flex justify-content-end bg-transparent preco">R$8.99</div>
            </div>
        </div>

        <div class="card mr-3 mb-3" style="max-width: 15rem; max-height: 412px;">
            <div class="card-body">
                <img src="../../assets/img/produtos/vela.JPG" alt="" class="miniatura">
                <h5 class="card-title mb-1">Vela</h5>
                <a src="#" class="marca">Luz</a>
            
                <div class="d-flex justify-content-end bg-transparent preco">R$8.99</div>
            </div>
        </div>
        
    </div>
        
    </div>
</div>
