/* You can add global styles to this file, and also import other style files */

/*FONTES*/

@font-face {
    font-family: adam;
    src: url(assets/font/Adam-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: anotherday;
    src: url(assets/font/AnotherDayV2.ttf) format('truetype');
}

@font-face {
    font-family: caviar;
    src: url(assets/font/CaviarDreams.ttf) format('truetype');
}

@font-face {
    font-family: comfortaa;
    src: url(assets/font/Comfortaa-Regular.ttf) format('truetype');
}


/*FIM DE FONTES*/


.bg-cinza {
    background-color: #D8E7D7;
}

.miniatura {
    height: 230px;
    width: 200px;
}

.marca {
    font-size: 18px;
    color: grey;
}

.marca:hover {
    color: rgb(97, 97, 97);
    text-decoration: none;
    
}

.preco {
    font-size: 22px;
    letter-spacing: 2px;
}

.bg-geral {
    background-image: url(assets/img/logincadastro/patternlogin.png);
}
