<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Dúvidas</h1>
            <div class="col-md-6 mt-5">
                <h3>Envio</h3>
                <p>
                    Nossas embalagens não levam plástico ou isopor.
                </p>
                <p>
                    Os envios são por meio dos Correios, e o prazo de entrega
                    você fica sabendo no ato da compra.
                </p>

            </div>
            <div class="col-md-6 mt-5">
                <h3>Cancelamento</h3>
                <p>Você pode cancelar a sua compra até 7 dias após receber,
                    sem custo nenhum para você!
                </p>

            </div>
            <div class="col-md-6 mt-5">
                <h3>Trocas</h3>
                <p>Você pode trocar os seus produtos até 7 dias por 
                    desistência, ou até 30 dias por defeito de fabricação.
                </p>
            </div>

            <div>
                <h3>Tem mais dúvidas? Deixe-nos uma mensagem:</h3>
                <div class="col-md-4 mb-5 row flex-column">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome">

                    <label for="email">Email:</label>
                    <input type="text">

                    <label for="telefone">Telefone:</label>
                    <input type="text" id="telefone">

                    <label for="mensagem">Sua mensagem:</label>
                    <textarea id="mensagem" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
