<footer class="page-footer font-small bg-secondary pt-">

  <div class="container">
    

    <div class="row">

      <div class="col-md-12 d-flex justify-content-center ">
       <ul class="social-network">
        <li class="list-group">
          <a href="#" > <img src="../../assets/img/facebook.png" alt="icone Facebook"></a>
        </li>
        <li class="list-group">
          <a href="#" > <img src="../../assets/img/instagram-logo.png" alt="icone Instagram"></a>
        </li>
        <li class="list-group">
          <a href="#" > <img src="../../assets/img/whatsapp.png" alt="icone whatsapp"></a>
        </li>
       </ul>
        </div>
       
        <div class=" d-flex justify-content-center text-center m-auto">
         <h5 class="text-white font-small ">Copyright: Climatika Store</h5>
        </div>
       


    
    </div>

  </div>

</footer>
