<div class="container-fluid">
  <hr class="ml-5 mr-5">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-sm-4 d-flex align-items-center pl-4 pt-3 hr1">
      <ul class="text-success list-unstyled ">
        <h5>Dúvidas</h5>
        <li>
          <a routerLink='/duvidas' class="text-success">Envio</a>
        </li>

        <li>
          <a routerLink='/duvidas' class="text-success">Cancelamento</a>
        </li>

        <li>
          <a routerLink='/duvidas' class="text-success">Trocas</a>
        </li>

        <li>
          <a routerLink='/duvidas' class="text-success">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 col-12 d-flex align-items-center pl-4 pt-3 mb-5 mt-1">
      <iframe width="450" height="240" src="https://www.youtube.com/embed/bwO4j7aRLg4" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>


  </div>


  <footer class="footer font-small bg-rodape mb-4">
    <div class="row">

      <div class="col-md-12 col-12 d-flex flex-wrap align-items-center justify-content-center bg-rodape">
        <!--<div class="col-md-12 d-flex justify-content-center bg-rodape">
      -->
        <div class="col-md-4 col-lg-4 col-sm-4 col-12 d-flex align-items-center flex-column text-light mt-3">
          <h4>Fale Conosco</h4>
          <div class="d-flex flex-row align-content-center">
            <a href="http://" target="_blank" rel="Contato via whatsapp">
              <img src="../../assets/img/redessociais/whatsapp.png" class="icone-rodape" alt="ícone do whatsapp">
            </a>
            <p class="ml-2 ">(11) 99000-0000</p>
          </div>
          <div>
            <img src="../../assets/img/redessociais/email.png" alt="" class="icone-rodape">
            <a href="mailto:climatika.contato@store.com" class="ml-2 text-light">climatikastore@outlook.com</a>
          </div>
        </div>


        <div
          class="col-md-4 col-lg-4 col-sm-4 col-12 d-flex flex-column justify-content-center text-light mt-3 border-left border-right">
          <div>
            <h5 class="pb-2 mt-2 text-center">Formas de Pagamento</h5>
          </div>
          <div class="icones d-flex justify-content-center mt-2">
            <img src="../../assets/img/pagamento/pic-pay-logo.png" alt="" srcset=""
              class="icone-pagamento  bg-white rounded-pill p-2">
            <img src="../../assets/img/pagamento/5740943.png" alt="" srcset=""
              class="icone-pagamento  rounded-pill pr-2 pl-2   bg-white">
            <img src="../../assets/img/pagamento/pix-bc-logo-2.png " alt="" srcset=""
              class="icone-pagamento rounded-pill p-2 bg-white ">

          </div>
          <div class="">
            <h5 class="pb-2  padding-top  d-flex justify-content-center ">Em Breve</h5>

            <div class="d-flex justify-content-center">
              <img src="../../assets/img/pagamento/visa.png" alt="" srcset=""
                class="icone-pagamento   rounded-pill pr-2 pl-2 bg-white">

              <img src="../../assets/img/pagamento/mastercard.png" alt="" srcset=""
                class="icone-pagamento   rounded-pill pr-2 pl-2 bg-white">

              <img src="../../assets/img/pagamento/elo-servicos-s-a-logo.png" alt="" srcset=""
                class="icone-pagamento  rounded-pill p-2 bg-white">

              <img src="../../assets/img/pagamento/amex_82052.png" alt="" srcset=""
                class="icone-pagamento  rounded-pill  ">
            </div>
          </div>

        </div>


        <div class="col-md-4 col-lg-4 col-sm-4 col-12 d-flex align-items-center pl-4 pt-3">
          <ul class="text-light list-unstyled ">
            <li>
              <a routerLink='/duvidas' class="text-light ">Envio</a>
            </li>
            <li>
              <a routerLink='/duvidas' class="text-light">Cancelamento</a>
            </li>
            <li>
              <a routerLink='/duvidas' class="text-light">Trocas</a>
            </li>
            <li>
              Redes Sociais:
              <div>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img src="../../assets/img/redessociais/instagram-logo.png" alt="" srcset=""
                    class="ml-3 icone-rodape">
                </a>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img src="../../assets/img/redessociais/facebook.png" alt="" srcset="" class="ml-3 icone-rodape">
                </a>
              </div>
            </li>
          </ul>

        </div>

      </div>
      <div
        class="col-md-12 col-xl-12 col-sm-12 col-12 d-flex justify-content-center bg-rodape p-3 text-light font-weight-bold">
        <p>ClimatikaStore&copy;</p>
      </div>
    </div>
  </footer>
</div>