<div class="container-fluid">
    <hr class="ml-5 mr-5">
    <div class="col-md-12 col-m-0 row d-flex justify-content-center">
        <div class="col-md-6 col-lg-6 col-sm-12 col-12 col-m-0 d-flex flex-wrap align-items-center justify-content-between pl-4 pt-3">
            <div class="col-md-6 col-sm-12 col-12 m-0 p-0">
                <h3 class="text-center titulo">Sobre Nós</h3>
                <p class="sobre-footer">
                    E-commerce empenhado em reduzir impactos ambientais e sociais de consumo com produtos ecológicos confeccionados em parcerias com pequenos empreendedores.
                </p>
            </div>
            <div class="col-md-4 col-sm-12 col-12 sobre-footer m-0 p-0">
                <p>Contribua com a versão inicial do nosso projeto:

                    <button type="button" class="btn btn-success mt-2" data-toggle="modal" data-target="#exampleModal">
          Deixe o seu feedback!
        </button>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-12 col-12 d-flex align-items-center pl-4 pt-3 mb-5 mt-1">
            <iframe width="450" height="240" src="https://www.youtube.com/embed/bwO4j7aRLg4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


    </div>


    <footer class="footer font-small bg-rodape">
        <div class="row">

            <div class="col-md-12 col-12 d-flex flex-wrap align-items-center justify-content-center bg-rodape">
                <!--<div class="col-md-12 d-flex justify-content-center bg-rodape">
      -->
                <div class="col-md-4 col-lg-4 col-sm-4 col-12 d-flex align-items-center flex-column text-light mt-3">
                    <h4>Fale Conosco</h4>
                    <div class="d-flex flex-row align-content-center">
                        <a href="http://" target="_blank" rel="Contato via whatsapp">
                            <img src="../../assets/img/redessociais/whatsapp.png" class="icone-rodape" alt="ícone do whatsapp">
                        </a>
                        <p class="ml-2 ">(11) 99000-0000</p>
                    </div>
                    <div>
                        <img src="../../assets/img/redessociais/email.png" alt="" class="icone-rodape">
                        <a href="mailto:climatika.contato@store.com" class="ml-2 text-light">climatikastore@outlook.com</a>
                    </div>
                </div>


                <div class="col-md-4 col-lg-4 col-sm-4 col-12 d-flex flex-column justify-content-center text-light mt-3 border-left border-right">
                    <div>
                        <h5 class="pb-2 mt-2 text-center">Formas de Pagamento</h5>
                    </div>
                    <div class="icones d-flex justify-content-center mt-2">
                        <img src="../../assets/img/pagamento/pic-pay-logo.png" alt="" srcset="" class="icone-pagamento  bg-white rounded-pill p-2">
                        <img src="../../assets/img/pagamento/5740943.png" alt="" srcset="" class="icone-pagamento  rounded-pill pr-2 pl-2   bg-white">
                        <img src="../../assets/img/pagamento/pix-bc-logo-2.png " alt="" srcset="" class="icone-pagamento rounded-pill p-2 bg-white ">

                    </div>
                    <div class="">
                        <h5 class="pb-2  padding-top  d-flex justify-content-center ">Em Breve</h5>

                        <div class="d-flex justify-content-center">
                            <img src="../../assets/img/pagamento/visa.png" alt="" srcset="" class="icone-pagamento   rounded-pill pr-2 pl-2 bg-white">

                            <img src="../../assets/img/pagamento/mastercard.png" alt="" srcset="" class="icone-pagamento   rounded-pill pr-2 pl-2 bg-white">

                            <img src="../../assets/img/pagamento/elo-servicos-s-a-logo.png" alt="" srcset="" class="icone-pagamento  rounded-pill p-2 bg-white">

                            <img src="../../assets/img/pagamento/amex_82052.png" alt="" srcset="" class="icone-pagamento  rounded-pill  ">
                        </div>
                    </div>

                </div>


                <div class="col-md-4 col-lg-4 col-sm-4 col-12 d-flex align-items-center pl-4 pt-3">
                    <ul class="text-light list-unstyled ">
                        <li>
                            <a routerLink='/duvidas' class="text-light ">Envio</a>
                        </li>
                        <li>
                            <a routerLink='/duvidas' class="text-light">Cancelamento</a>
                        </li>
                        <li>
                            <a routerLink='/duvidas' class="text-light">Trocas</a>
                        </li>
                        <li>
                            Redes Sociais:
                            <div>
                                <a href="http://" target="_blank" rel="noopener noreferrer">
                                    <img src="../../assets/img/redessociais/instagram-logo.png" alt="" srcset="" class="ml-3 icone-rodape">
                                </a>
                                <a href="http://" target="_blank" rel="noopener noreferrer">
                                    <img src="../../assets/img/redessociais/facebook.png" alt="" srcset="" class="ml-3 icone-rodape">
                                </a>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
            <div class="col-md-12 col-xl-12 col-sm-12 col-12 d-flex justify-content-center bg-rodape p-3 text-light font-weight-bold">
                <p>ClimatikaStore&copy;</p>
            </div>
        </div>



        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mr-3" id="exampleModalLabel">Deixe o seu feedback!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            O Climatika Store está em sua versão inicial. O seu feedback nos ajuda a evoluir e continuar a planejar um futuro mais consciênte. Muito obrigado!
                        </p>
                        <div class=" d-flex justify-content-center">

                            <form>
                                <div class="form-group">
                                    <input class="form-control form-control-sm mb-1" type="text" placeholder="nome">
                                    <input class="form-control form-control-sm mb-1" type="email" placeholder="email">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="mensagem"></textarea>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <button type="submit" class="btn btn-success botao mt-3 mb-5">enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </footer>
</div>