.layoutCarrinho{
    width: 80%;
    height: 500px;
    border: 2px;
    border-style: groove;
    border-radius: 30px;
    border-color: #5b866e9d;
}

.fundoCarrinho{
    background-image: url("../../assets/img/logincadastro/patternlogin.png");
    border-radius: 30px;
}

.lista-prod {
    overflow: auto;
    scroll-behavior: smooth;
    height: 100%;
    margin-bottom: 30px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.x {
    font-size: 10pt;
}


.tot{
    align-items: center;
    font-size: 30pt;
    
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #4c6b5a;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }
