<div (click)="auth.calculoTotal()" class="container d-flex justify-content-center">

    <div class="d-flex flex-row m-3 p-3 layoutCarrinho">
        <div class="col-md-7 lista-prod">

            <div class="card mb-3" style="max-width: 540px;" *ngFor="let item of auth.statusVenda.listaProduto">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{item.foto}}" class="card-img" alt="...">
                    </div>

                    <div class="col-md-8">
                        <div class="d-flex flex-row justify-content-end">
                        <a class="x mr-1 mt-1" (click)="auth.removerProduto(item.codigo)">✖</a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{item.nomeProduto}}</h5>
                            <p class="card-text">{{item.descricao}}</p>
                            <p class="card-text"><small class="text-muted">R${{item.preco}}</small></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-md-5 ml-1 pt-3 pl-3 fundoCarrinho">
            
            <div class="d-block mt-4">
                <h2>Carrinho de Compras</h2>
                <hr class="mb-4">
                <!--<a (click)="calculoTotal()"><button class="btn btn-secondary" ></button></a>{{auth.calculoTotal()}}-->
                <!--<p>Subtotal:{{auth.calculoTotal()}}</p>-->
                <!--<input type="text" value="R${{auth.valorTotal.toLocaleString('pt-br', {minimumFractionDigits: 2})}}" readonly>-->
                <h5 class="m-0 ml-1 font-italic">Valor Total:</h5>
                <p class="tot ml-4">R${{auth.valorTotal.toLocaleString('pt-br', {minimumFractionDigits: 2})}}</p>
                <div class="mt-5 d-flex justify-content-center">
                    <button class="btn btn-success" routerLink="/finalizar-compra">Finalizar Compra</button>
                </div>
                <div class="mt-3 d-flex justify-content-center">
                    <a routerLink="/inicio" class="text-secondary">← Continuar Comprando</a>
                </div>
            </div>
            
        </div>
    </div>

</div>
