<div class="container d-flex justify-content-center">

    <div class="row m-3 p-3 layoutCarrinho border border-secondary">
        <div class="col-md-7">

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body form-check form-check-inline">
                            <label class= "form-check-label" for="inlineCheckbox1">1</label >
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-5 p-3 fundoCarrinho">
            <h2>Carrinho de Compras</h2>
            <div>
                <p>
                    Insira seu CEP:
                </p><input type="text" value="00000-000">

                <hr>
                <p>Subtotal:</p>
                 <input type="text" value="R$ 00,00" readonly>

                <div class="mt-3">
                    <button class="btn btn-danger mr-3">Continuar Comprando</button>
                    <button class="btn btn-success">Finalizar Compra</button>
                </div>
            </div>
        </div>
    </div>




</div>