<div class="container-fluid bg-geral">
  <div class="row ">
    <div class="col-md-8 m-auto mt-5 mb-3 pt-4">

      <h4>Nosso Planeta Pede Ajuda!</h4>

      <p>
        Nosso planeta têm sofrido constantes ataques em todo o mundo. 
        Queima das florestas e de combustíveis fósseis, atividades agropecuárias e industriais irresponsáveis,
        o consumo desvairado. Tudo isso afetas diretamente a nossa agua, o nosso ar, nossa Terra.
      </p>

      <h4>ODS 13</h4>
      <p>
        O Objetivo de Desenvolvimento Sustentável 13 é sobre ação climática e é um dos 17 Objetivos de Desenvolvimento
        Sustentável estabelecidos pelas Nações Unidas em 2015. A redação oficial é “Tomar medidas urgentes para
        combater as mudanças climáticas e seus impactos”. A Meta a serem alcançadas até 2030. Alguns objetivos a ser
        atingidos pela ODS 13 é:
      </p>
      <p>
        13.1. Reforçar a resiliência e a capacidade de adaptação a riscos
        relacionados ao clima e às catástrofes naturais em todos os países.
      </p>
      <p>
        13.2. Integrar medidas da mudança do clima nas políticas,estratégias e planejamentos nacionais.
      </p>
      <p>
        13.3. Melhorar a educação, aumentar a conscientização e a capaci-
        dade humana e institucional sobre mitigação, adaptação, redução
        de impacto e alerta precoce da mudança do clima.
      </p>
      <p>
        13.4. Implementar o compromisso assumido pelos países desenvolvidos partes da Convenção Quadro das Nações
        Unidas sobre
        Mudança do Clima [UNFCCC] para a meta de mobilizar conjuntamente
        US$ 100 bilhões por ano a partir de 2020, de todas as fontes, para atender às necessidades dos países em
        desenvolvimento,
        no contexto das ações de mitigação significativas e transparência
        na implementação; e operacionalizar plenamente o Fundo Verde
        para o Clima por meio de sua capitalização o mais cedo possível.
      </p>
    </div>

    <div class="col-md-8 mt-2 m-auto">
      <h5>ODS #13: Ação contra a mudança global do clima • IBGE Explica</h5>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ruOzd5Mthnc" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <div class="col-md-8 mt-2 ml-3 m-auto">
      <h4>Problemas Ambientais</h4>
      <p>
        Mudanças climáticas são as alteração, climáticas na temperatura, precipitação e nebulosidade em escala global.
        Elas podem ser causadas por fatores naturais, como as alterações na radiação solar ou movimentos da órbita da
        Terra. Porém, a organização das Nações Unidas (ONU) afirma que existem estudos científicos que comprovam que o
        aumento da temperatura no planeta está sendo provocado pela ação humana ao longo dos últimos 250 anos.

        As mudanças climáticas já apresentam efeitos ambientais observáveis. Geleiras encolheram, gelos em rios e lagos
        quebram mais cedo, variedades de plantas e animais mudaram e árvores passaram a florescer mais cedo. Cientistas
        previram efeitos que seriam resultantes das mudanças climáticas no mundo e que agora estão acontecendo, tais
        como a perda do gelo nos oceanos, aumento acelerado do nível do mar, e ondas de frio e calor mais intensas. Os
        cientistas acreditam também que as temperaturas globais continuarão a aumentar nas próximas décadas, em grande
        parte devido aos gases do efeito estufa produzidos por atividades humanas. O IPCC, que inclui mais de 1.300
        cientistas dos Estados Unidos e outros países, prevê um aumento de temperatura de 2,5 °C a 10 °C durante o
        próximo século.

      </p>
    </div>

    <div class="col-md-8 mt-2 mb-3 m-auto">
      <h5> MEIO AMBIENTE E SUSTENTABILIDADE: Importância do pensamento do ciclo de vida do produto
      </h5>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JEscMq36Oes" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</div>