<div class="flex-container">
    <div class="endereco mt-2">
    
        <img src="../../assets/img/logincadastro/local.png" height="15px" width="auto" alt=""><h4>Endereço de entrega</h4>

      <p class="ml-4"> <b>{{usuario.nomeCompleto}}</b> : {{usuario.endereco}} - {{usuario.cidade}} / {{usuario.estado}}
      <a routerLink="/atualizar-cadastro"><b>editar</b></a></p>
    </div>
</div>

<div class="flex-container">
  <div class="produtos">
      <h4>Produtos pedidos</h4>
  </div>

  <div class="">
    <img src="https://i.imgur.com/34xpEBo.jpg" height="50px" class="ml-5 mr-3" width="auto" alt="">
    dona do front R$1.000.000,00
  </div>
</div>

<div class="flex-container">
  <div class="frete">
      <h4 class="mb-4">Frete</h4>

          <p class="mb-3"><b>Compras Acima de R$100,00 - Frete Grátis para Todo o Brasil!</b></p>
      
              <p class="text-right envio mr-5 mt-5">Regiões Sul e Sudeste - Frete Fixo R$12,00</p>
              <p class="text-right mr-5">Regiões Nordeste, Norte - Frete Fixo - R$18,00</p>
              <p class="text-right mb-5 mr-5">Região Centro-Oeste - Frete Fixo - R$20,00</p>
            
              <img src="https://i.imgur.com/YmY6zcy.png" class="fotofrete mb-5" height="280px" width="auto" alt="">

  </div>
</div>

<div class="container mt-3 mb-5">
  <div class="produtos">
      <h4>Metodo de pagamento</h4>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="opcao1">
        <label class="form-check-label" for="inlineRadio1">Boleto</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opcao2">
        <label class="form-check-label" for="inlineRadio2">Pix</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="opcao3" disabled>
        <label class="form-check-label mr-5" for="inlineRadio3">PayPal (em breve)</label>
      </div>

      <button  type="button" class="btn btn-success ml-3 mb-1" data-toggle="modal" data-target="#staticBackdrop">
        Realizar pagamento
      </button> 

  </div>
</div>

