.frete {
    
    border-radius: 15px;
    text-align: center;
}

.frete p{
    margin: 0px;
}

.boleto {    
    border-radius: 30px;
    width: 300px;
    height: 100px;
}

.pix {    
    border-radius: 30px;
    width: 300px;
    height: 100px;
}

.pickpay {    
    border-radius: 30px;
    width: 300px;
    height: 200px;
}