<div class="container-fluid bg-geral">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">

      <div class="col-md-8 mt-2 ml-3">
        <h1 class=" m-3 d-flex justify-content-center">Sobre</h1>
        <H4>Climatika</H4>
        <p>
          E-commerce empenhado em reduzir impactos ambientais e sociais de consumo com produtos ecológicos em parcerias
          com pequenos empreendedores.
        </p>
        <p>
          Temos um compromisso com o planeta e, alinhado às ODS, nosso foco é combater mudança global do clima (ODS 13
          conheça mais clicando aqui) alcançando também causas importantes como:
        </p>
        <p>
          - Fome Zero e Agricultura Sustentável - ODS 2: Temos como objetivo criar parcerias com pequenos
          empreendedores, com setores da agricultura familiar e da economia circular.
        </p>
        <p>
          - Igualdade de Gênero - ODS 5: Buscamos fazer parcerias com pequenas empreendedoras para valorizar e colaborar
          para que elas possam produzir e vender mais os seus produtos.
        </p>
        <p>
          - Cidades e Comunidades Sustentáveis - ODS 11: Comercializar produtos que gerem a menor quantidade de lixo
          possível.
        </p>
        <div class="">
          <h5 class="d-flex justify-content-center"> DevTeam </h5>
          <div class="d-flex justify-content-center">

            <div class="rounded-circle devteam"
            style="background-image: url('https://media-exp1.licdn.com/dms/image/C4D03AQEieL2EMiXpFw/profile-displayphoto-shrink_200_200/0/1631643399594?e=1637798400&v=beta&t=fnyYc4UdaXpsGPyIfZFRzbWT9w08MvI4Hg6QUau60KQ');">
              <div class="rounded-circle devteam-info d-flex justify-content-center align-content-center text-center mt-1 flex-column" width="100%">
                Agatha Naruto
                @gth
                <a href="">
                  <img class="devteam-icones" src="../../assets/img/redessociais/instagram-logo.png" alt="">
                </a>
                <a href="">
                  <img class="devteam-icones" src="../../assets/img/redessociais/facebook.png" alt="">
                </a>
              </div>
            </div>

            <img class="rounded-circle m-2" src="https://avatars.githubusercontent.com/u/49243663?v=4" width="20%">
            <img class="rounded-circle m-2" src="https://avatars.githubusercontent.com/u/82923237?v=4" width="20%">
            <br>
          </div>
          <div class="d-flex justify-content-center">

            <img class="rounded-circle m-2" src="https://avatars.githubusercontent.com/u/87502893?v=4" width="20%">

            <img class="rounded-circle m-2" src="https://avatars.githubusercontent.com/u/88196625?v=4" width="20%">
            <img class="rounded-circle m-2" src="https://avatars.githubusercontent.com/u/87865243?v=4" width="20%">
          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid  d-flex justify-content-center">
      <div class="col-md-8 mt-2 ml-3">
        <h4>Generation</h4>
        <p> Nossa missão é apoiar jovens a construírem carreiras sustentáveis e prósperas e fornecer aos empregadores
          uma rede de talentos altamente qualificados e motivados, visando aprimorar os resultados de seus
          negócios.Nossa visão é possibilitar um emprego no início da carreira para todos os jovens em qualquer lugar do
          mundo.No mundo todo, mais de 75 milhões de jovens estão desempregados. Ao mesmo tempo muitas empresas não
          conseguem encontrar pessoas com as habilidades necessárias para preencher suas vagas de entrada. Generation é
          uma organização independente e sem fins lucrativos fundada em 2014 pela McKinsey & Company para ajudar a
          eliminar essa lacuna com velocidade e escala.
        </p>
      </div>
    </div>
  </div>
</div>
<script src="devteam-info.js"></script>