<div class="container-fluid bg-geral">
  <div class="row">
    <div class="col-md-12">

      <!--Texto Climatika-->
      <div class="col-md-8 mt-2 ml-3 m-auto">
        <h1 class=" m-3 d-flex justify-content-center">Sobre</h1>
        <H4>Climatika</H4>
        <p>
          E-commerce empenhado em reduzir impactos ambientais e sociais de consumo com produtos ecológicos
          confeccionados em parcerias
          com pequenos empreendedores.
        </p>
        <p>
          Temos um compromisso com o planeta e, alinhado às ODS, nosso foco é combater mudança global do clima (ODS 13
          conheça mais <a>clicando aqui</a>) alcançando também causas importantes como:
        </p>
        <p>
          - Fome Zero e Agricultura Sustentável - ODS 2: Temos como objetivo criar parcerias com pequenos
          empreendedores, com setores da agricultura familiar e da economia circular.
        </p>
        <p>
          - Igualdade de Gênero - ODS 5: Buscamos fazer parcerias com pequenas empreendedoras para valorizar e colaborar
          para que elas possam produzir e vender mais os seus produtos.
        </p>
        <p>
          - Cidades e Comunidades Sustentáveis - ODS 11: Comercializar produtos que gerem a menor quantidade de lixo
          possível.
        </p>
      </div>
      <!-- FIM Texto Climatika-->
      <!-- DevTeam-->


      <div class="container my-3 py-5 text-center ">
        <div class="row mb-5">
          <div class="col">
            <h1>Our DevTeam</h1>
            <p class="mt-3">Climatika foi construido por: </p>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-3 col-md-6">
            <div class="card" id="team">
              <div class="card-body">
                <img
                  src="https://media-exp1.licdn.com/dms/image/C4D03AQEieL2EMiXpFw/profile-displayphoto-shrink_200_200/0/1631643399594?e=1640217600&v=beta&t=9UxsV_7-b_NRKamYOuMHrj2mf6tw5SQ_-MiqprRn4Ao"
                  alt="" class="img-fluid rounded-circle w-50 mb-3">
                <h3>Agatha Alberico</h3>
                <h5>design </h5>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas modi facere nulla aut placeat
                </p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="https://www.linkedin.com/in/gthlbrc/">
                      <img class="devteam-icones mr-2" src="../../assets/img/redessociais/linkedin (3).png" alt="">
                    </a>
                    <a href="https://github.com/alyen404">

                      <img class="devteam-icones mr-2" src="../../assets/img/redessociais/github (3).png" alt="">
                    </a>
                  </div>

                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card" id="team">
              <div class="card-body">
                <img src="https://avatars.githubusercontent.com/u/49243663?v=4" alt=""
                  class="img-fluid rounded-circle w-50 mb-3">
                <h3>Isaias Rodrigues</h3>
                <h5>Dev Full stack </h5>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas modi facere nulla aut placeat
                </p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="https://www.linkedin.com/in/isaiasz/">
                      <img class="devteam-icones mr-2" src="../../assets/img/redessociais/linkedin (3).png" alt="">
                    </a>

                    <a href="https://github.com/isaiaszanoni">

                      <img class="devteam-icones mr-2" src="../../assets/img/redessociais/github (3).png" alt="">
                    </a>
                  </div>

                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card" id="team">
              <div class="card-body">
                <img src="https://avatars.githubusercontent.com/u/82923237?v=4" alt=""
                  class="img-fluid rounded-circle w-50 mb-3">
                <h3>Jaqueline </h3>
                <h5>Dev Full stack </h5>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas modi facere nulla aut placeat
                </p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="https://www.linkedin.com/in/jaqueline-ferreira-484403210/">
                      <img class="devteam-icones mr-2" src="../../assets/img/redessociais/linkedin (3).png" alt="">

                      <a href="https://github.com/Jaqueline-Ferreira">

                        <img class="devteam-icones mr-2" src="../../assets/img/redessociais/github (3).png" alt="">
                      </a>

                    </a>
                  </div>



                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card" id="team">
              <div class="card-body">
                <img src="https://avatars.githubusercontent.com/u/87502893?v=4" alt=""
                  class="img-fluid rounded-circle w-50 mb-3">
                <h3>Mayara Bueno</h3>
                <h5>Dev Full stack </h5>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas modi facere nulla aut placeat
                </p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="https://www.linkedin.com/in/mayara-s-bueno/">
                      <img class="devteam-icones mr-2" src="../../assets/img/redessociais/linkedin (3).png" alt="">

                      <a href="https://github.com/mayaralbueno">

                        <img class="devteam-icones mr-2" src="../../assets/img/redessociais/github (3).png" alt="">
                      </a>
                    </a>
                  </div>


                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card" id="team">
              <div class="card-body">
                <img src="https://avatars.githubusercontent.com/u/88196625?v=4" alt=""
                  class="img-fluid rounded-circle w-50 mb-3">
                <h3>Rodrigo Silva</h3>
                <h5>Dev Full stack </h5>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas modi facere nulla aut placeat
                </p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="https://www.linkedin.com/in/rodrigo-araujoo/">
                      <img class="devteam-icones mr-2" src="../../assets/img/redessociais/linkedin (3).png" alt="">

                      <a href="https://github.com/Razzkz">

                        <img class="devteam-icones mr-2" src="../../assets/img/redessociais/github (3).png" alt="">
                      </a>
                    </a>

                  </div>

                  

                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card " id="team">
              <div class="card-body">
                <img src="https://avatars.githubusercontent.com/u/87865243?v=4" alt=""
                  class="img-fluid rounded-circle w-50 mb-3">
                <h3>Vitor Brandão </h3>
                <h5>scrum master </h5>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas modi facere nulla aut placeat
                </p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4">
                    <a href="https://www.linkedin.com/in/vitorbrandaosilva/">
                      <img class="devteam-icones mr-2" src="../../assets/img/redessociais/linkedin (3).png" alt="">

                      <a href="https://github.com/VitorBrandaoS">

                        <img class="devteam-icones mr-2" src="../../assets/img/redessociais/github (3).png" alt="">
                      </a>
                    </a>
                  </div>

                  

                </div>

              </div>
            </div>
          </div>

        </div>

        <!-- DevTeam-->
        <!-- Texto Generation-->

        <div class="col-md-8 mt-2 pt-3 ml-3 m-auto">
          <h6 class="text-muted mt-3 mb-3">
            Este site foi construído como Projeto Integrador no bootcamp Fullstack Java Jr. da Generation Brasil!<br>
            Você pode conhecer mais sobre o projeto ou colaborar com ele em nosso GitHub!
            <a href="https://github.com/VitorBrandaoS/Climatika-store-Front-End">Frondend</a>,
            <a href="https://github.com/VitorBrandaoS/Climatika-Projeto-Integrador">Backend</a> do projeto.
          </h6>
          <h4>Generation</h4>
          <p> Nossa missão é apoiar jovens a construírem carreiras sustentáveis e prósperas e fornecer aos
            empregadores
            uma rede de talentos altamente qualificados e motivados, visando aprimorar os resultados de seus
            negócios.Nossa visão é possibilitar um emprego no início da carreira para todos os jovens em qualquer
            lugar do
            mundo.No mundo todo, mais de 75 milhões de jovens estão desempregados. Ao mesmo tempo muitas empresas não
            conseguem encontrar pessoas com as habilidades necessárias para preencher suas vagas de entrada.
            Generation é
            uma organização independente e sem fins lucrativos fundada em 2014 pela McKinsey & Company para ajudar a
            eliminar essa lacuna com velocidade e escala.
          </p>
        </div>


        <!-- FIM Texto Generation-->

      </div>
      <!--col-md-12-->
    </div>
    <!--Row-->

  </div>
  <!--Container-->

  <script src="devteam-info.js"></script>