.devteam {
    
    width: 180px;
    height: 180px;

    background-position: center;
    background-size: 180px;
}

.devteam:hover {
    border: 2px solid rgb(10, 10, 10);

}

.devteam-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column;
    width: 180px;
    height: 180px;
    background-color: rgba(22, 22, 22, 0.582);
    opacity: 0;

}

.devteam:hover .devteam-info {
    opacity: 1;
}

.devteam-icones {
    width: 20px;
    height: 20px;
    

}