.fundo {
  background-color: rgb(57, 168, 122);
  height: auto;
  margin: 0;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: rgb(57, 168, 122);
}

/*CONTAINER*/

.bgcad {
  background-image: url('https://images.pexels.com/photos/1654255/pexels-photo-1654255.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-size: 800px;
}

.bgcad img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bgcad:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.3);
}

* {
  box-sizing: border-box;
}

h3 {
  font-weight: bold;
  margin: 0;
  margin-top: 12px;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 1000px;
  height: 600px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
}

.log-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container .log-in-container {
  width: 350px;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 20%;
  width: 100%;
  height: 100%;
}

.overlay {
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
}

.overlay-right {
  right: 0;
}

.social-container {
  margin: 50px 0;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

/*INPUTS*/

input {
  border-radius: 0%;
  background-color: transparent;
}

input:enabled {
  background-color: transparent;
}

input::selection {
  background-color: rgb(191, 216, 195);
}

input:focus {
  outline: 0;
  box-shadow: 0 0 0 0;
}

.wrapper {
  width: 550px;
  height: 630px;
  background: #fff;
  padding: 20px;
}

.wrapper .form-group {
  font-family: comfortaa;
  font-size: 13px;
  height: 40px;
  width: 100%;
  position: relative;
}

.wrapper .form-group input {
  font-family: comfortaa;
  font-size: 10px;
  height: 100%;
  width: 90%;
  border: none;
  font-size: 15px;
  border-bottom: 2px solid #8db39c;
}

.form-group input:focus~label, .form-group input:valid~label {
  transform: translateY(-20px);
  font-size: 9px;
  color: #81b194;
}

.wrapper .form-group label {
  position: absolute;
  bottom: 1px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}

.form-group .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.form-group .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: #8db39c;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.form-group input:focus~.underline:before, .form-group input:valid~.underline:before {
  transform: scaleX(1);
}

/*FIM DE INPUTS*/

/*SELECT*/

select:focus {
  outline: 0;
  box-shadow: 0 0 0 0;
}

.wrapper select {
  height: 35px;
  width: 200px;
}

.wrapper .sel select {
  
  bottom: 15px;
  left: 20px;
  height: 100%;
  width: 220px;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid #8db39c;
}

.sel select:focus~label, .sel select:valid~label {
  
  transform: translateY(-20px);
  font-size: 10px;
  color: #81b194;
}

.wrapper .sel label {
  font-family: comfortaa;
  font-size: 13px;
  left: 20px;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}

.sel .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.sel .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  color: #81b194;
  background: #81b194;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.sel select:focus~.underline:before, .sel select:valid~.underline:before {
  transform: scaleX(1);
}

/*FIM DE SELECT*/

/*BOTOES*/

.botaocad {
  font-family: adam;
  border: none;
  background: rgb(98, 131, 100);
  cursor: pointer;
  border-radius: 3px;
  width: 200px;
  color: rgb(181, 221, 188);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.botaocanc {
  font-family: adam;
  border: none;
  background: rgb(223, 43, 43);
  cursor: pointer;
  border-radius: 3px;
  width: 200px;
  color: rgb(252, 212, 212);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

/*FIM DE BOTOES*/


/*CARD*/
.fundo {
  background-image: url("../../assets/img/logincadastro/patternlogin.png");
}

.img-prod {
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid #7fa08d;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4c6b5a;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.fundo-card {
  border: none;
  background-color: transparent;
}

.fonte{
  font-family: comfortaa;
}